.DS_Store
node_modules
.tmp
npm-debug.log
.ipynb_checkpoints
video*
README.pdf
other*
__pycache__
.DS_Store
archive*
utils.py
1*.ipynb
.solutions
.vscode
archive
*.csv
*.parquet
*.xlsx

docs

.vscode
.env

*.txt
.sketch/

data/**/scripts/notebooks/.heavy/
.heavy/